<form action="/recipes/<%= @recipe.id %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <input type="text" id="name" name="name">
  <input type="text" id="ingredients" name="ingredients">
  <input type="text" id="cook_time" name="cook_time">

  <input type="submit" id="submit">
</form>
